<div class="w-full h-screen flex justify-center items-center">
    <div class="w-1/2">
        <div class="w-full">
            <h3>Outline</h3>
            <select-form-field-container [required]="true"
                                         [selectItems]="items" />
        </div>

        <div class="w-full">
            <h3>Fill</h3>
            <select-form-field-container appearance="fill"
                                         [disabled]="true"
                                         [selectItems]="items" />
        </div>

        <div class="w-full">
            <h3>None</h3>
            <select-form-field-container [required]="true"
                                         [disabled]="false"
                                         [selectItems]="items" />
        </div>
    </div>
</div>