<h3>Outline</h3>
<select-form-field-container [required]="true"
                             [selectItems]="items"></select-form-field-container>


<h3>Fill</h3>
<select-form-field-container appearance="fill"
                             [disabled]="true"
                             [selectItems]="items"></select-form-field-container>

<h3>None</h3>
<select-form-field-container [required]="true"
                             [disabled]="false"
                             [selectItems]="items"></select-form-field-container>