<div class="w-full h-screen flex items-center justify-center">
    <app-select label="Pick the User"
                [value]="selectedValue"
                (selectionChanged)="onSelectionChanged($event)">
        <app-option value="khumo">Khumo</app-option>
        <app-option value="richard">Richard</app-option>
        <app-option value="koketso">Koketso</app-option>
        <app-option [disabled]="true"
                    disabledReason="Too smart"
                    value="violet">Violet</app-option>
    </app-select>
</div>