<div class="w-full h-screen flex items-center justify-center">
    <app-select label="Pick the User"
                multiple
                [searchable]="true"
                [formControl]="selectedValue"
                [displayWith]="displayWithFN"
                [compareWith]="compareWithFN"
                (closed)="onSearchChanged('')"
                (searchChanged)="onSearchChanged($event)">
        <app-option *ngFor="let user of filteredUsers"
                    [value]="user">{{ user.name }}</app-option>
    </app-select>
</div>