:host {
    display: block;
}
.search-form-field {
    width: 35rem;
}
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
.mat-select-arrow__outline {
    margin-top: 5px;
}
/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
.mat-select-arrow__fill {
    margin-top: 10px;
}
