<div class="w-full h-[100px]">
    <label *ngIf="label"
           class="text-maire text-[14px] sm:text-2xl font-thin lg:font-semibold mx-2 mb-1"
           [for]="id">{{ label }}</label>

    <div appInput
         [ngClass]="{
            'border-b-[1px]': !isFocused && appearance === 'standard',
            'outline-none ring-[#9E8A33] border-[#9E8A33]': isFocused && appearance === 'outline',
            'border-b-[#9E8A33] border-b-2': isFocused && appearance === 'standard',
            'border-red-500': control.touched && control.invalid}"
         [appearance]="appearance"
         (click)="onClick()">
        <!-- prefix icon -->
        <div *ngIf="prefixIcon"
             class="w-[72px] h-full flex justify-center items-center bg-gray-100"
             [ngClass]="{'rounded-tl-md rounded-bl-md': appearance === 'outline'}">
            <ng-container [ngTemplateOutlet]="prefixIcon.template"></ng-container>
        </div>

        <!-- input field -->
        <input #input
               class="w-full h-full px-2 focus:outline-none"
               [ngClass]="{'rounded-md': appearance === 'outline'}"
               [id]="id"
               [type]="type"
               [formControl]="control"
               (blur)="onBlur()">

        <!-- suffix icons -->
        <div *ngIf="suffixIcon"
             class="w-14 h-full flex items-center justify-center">
            <ng-container [ngTemplateOutlet]="suffixIcon.template"></ng-container>
        </div>
    </div>

    <div class="m-1">
        <ng-content select="[error]"></ng-content>
    </div>
</div>